* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
  font-size: 1.5rem;
}

html {
  font-size: 62.5%;
  background-color: hsl(216, 12%, 8%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
  gap: 2rem;
}

.attribution {
  text-align: center;
  color: hsl(216, 12%, 54%);
}
.attribution a {
  text-decoration: none;
  color: hsl(216, 12%, 54%);
}

.container {
  width: 40rem;
  background-color: hsl(213, 19%, 18%);
  padding: 3rem;
  border-radius: 3.5rem;
  background: linear-gradient(
    360deg,
    rgba(29, 33, 37, 1) 0%,
    rgba(37, 45, 55, 1) 80%
  );
}

.hidden {
  display: none;
}

.icon--star {
  width: 5rem;
  padding: 1.5rem;
  background-color: hsl(214, 19%, 24%);
  border-radius: 50%;
  margin-bottom: 2rem;
}

.h1 {
  font-size: 2.4rem;
  color: hsl(0, 0%, 100%);
  margin-bottom: 1rem;
}

.p {
  color: hsl(217, 12%, 63%);
  line-height: 1.6;
  margin-bottom: 2.4rem;
  font-size: 1.6rem;
}

.btn--container {
  display: flex;
  gap: 2.5rem;
  align-items: center;
  margin-bottom: 3rem;
}

.btn--rating {
  width: 4.5rem;
  height: 4.5rem;
  padding: 1.5rem;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  color: hsl(217, 12%, 63%);
  background-color: hsl(214, 19%, 24%);
}

.btn--submit {
  width: 98%;
  display: inline-block;
  text-align: center;
  padding: 1rem;
  border-radius: 25rem;
  margin-bottom: 1rem;
  background-color: hsl(25, 97%, 53%);
  text-decoration: none;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  letter-spacing: 0.3rem;
}

.thank-you--container {
  text-align: center;
}

.img--thank-you {
  margin-bottom: 2rem;
}

.p--rating {
  margin-left: 7rem;
  margin-right: 7rem;
  text-align: center;
  margin-bottom: 4rem;
  padding: 0.5rem;
  border-radius: 25rem;
  color: hsl(25, 97%, 53%);
  background-color: hsl(214, 19%, 24%);
}

.active {
  background-color: hsl(216, 12%, 54%);
  color: hsl(0, 0%, 100%);
}

.active:focus {
  background-color: hsl(216, 12%, 54%);
  color: hsl(0, 0%, 100%);
}

@media only screen and (max-width: 410px) {
  .container {
    width: fit-content;
    padding: 3rem 2.5rem 2.5rem 2.5rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .icon--star {
    width: 4rem;
    padding: 1.2rem;
  }

  .h1 {
    font-size: 2.1rem;
  }

  .p {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
  }

  .btn--container {
    gap: 2rem;
    margin-bottom: 2rem;
  }

  .btn--rating {
    width: 3.5rem;
    height: 3.5rem;
    padding: 0.9rem;
  }

  .btn--submit {
    margin-bottom: 0;
  }

  .attribution {
    font-size: 1rem;
  }

  .attribution a {
    font-size: 1rem;
  }

  .p--rating {
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
    margin-left: 3.8rem;
    margin-right: 3.8rem;
  }
}

@media only screen and (max-width: 350px) {
  .container {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .p--rating {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.5rem 0;
    font-size: 1.3rem;
    margin-bottom: 2.5rem;
  }

  .thank-you--container .p {
    font-size: 1.1rem;
    margin-bottom: 0;
  }
}
